USE [master]
GO
/****** Object:  Database [FileFeaturesDb]    Script Date: 10/24/2011 00:29:20 ******/
CREATE DATABASE [FileFeaturesDb]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FileFeaturesDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FileFeaturesDb]
GO
/****** Object:  Schema [inheritance]    Script Date: 10/24/2011 00:29:20 ******/
CREATE SCHEMA [inheritance] AUTHORIZATION [dbo]
GO
/****** Object:  Schema [compact]    Script Date: 10/24/2011 00:29:20 ******/
CREATE SCHEMA [compact] AUTHORIZATION [dbo]
GO
/****** Object:  Table [compact].[FilePaths]    Script Date: 10/24/2011 00:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [compact].[FilePaths](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[path] [nvarchar](1000) NOT NULL,
	[uid] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_FilePaths] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [compact].[FilePaths] ON
INSERT [compact].[FilePaths] ([id], [path], [uid]) VALUES (3151, N'C:\trac\projekt\lernen-dot-net\Bildergalerie\Thumbs.db', N'8285464f-3c11-465a-a963-c4fe3864b8e5')
INSERT [compact].[FilePaths] ([id], [path], [uid]) VALUES (3152, N'C:\trac\projekt\lernen-dot-net\Bildergalerie', N'1cb8d014-d67f-4b32-a802-5c12587f1ccd')
INSERT [compact].[FilePaths] ([id], [path], [uid]) VALUES (3153, N'C:\trac\projekt\lernen-dot-net', N'3e0317dd-755f-432d-9f3e-f8a1e6f5b664')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
SET IDENTITY_INSERT [compact].[FilePaths] OFF
/****** Object:  Table [compact].[FileClasses]    Script Date: 10/24/2011 00:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [compact].[FileClasses](
	[id] [int] NOT NULL,
	[name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_FileClasses] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [compact].[FileClasses] ([id], [name]) VALUES (1, N'Fotos')
INSERT [compact].[FileClasses] ([id], [name]) VALUES (2, N'Office')
INSERT [compact].[FileClasses] ([id], [name]) VALUES (3, N'Other')
/****** Object:  Table [compact].[files]    Script Date: 10/24/2011 00:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [compact].[files](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[file_uid] [uniqueidentifier] NOT NULL,
	[dir_uid] [uniqueidentifier] NOT NULL,
	[super_dir_uid] [uniqueidentifier] NOT NULL,
	[fkey_file_id] [int] NOT NULL,
	[fkey_dir_id] [int] NOT NULL,
	[fkey_super_dir_id] [int] NULL,
	[filename] [nvarchar](500) NULL,
 CONSTRAINT [PK_files] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [compact].[files] ON
INSERT [compact].[files] ([id], [file_uid], [dir_uid], [super_dir_uid], [fkey_file_id], [fkey_dir_id], [fkey_super_dir_id], [filename]) VALUES (1300, N'8285464f-3c11-465a-a963-c4fe3864b8e5', N'1cb8d014-d67f-4b32-a802-5c12587f1ccd', N'3e0317dd-755f-432d-9f3e-f8a1e6f5b664', 3151, 3152, 3153, N'Thumbs.db')
INSERT [compact].[files] ([id], [file_uid], [dir_uid], [super_dir_uid], [fkey_file_id], [fkey_dir_id], [fkey_super_dir_id], [filename]) VALUES (1301, N'04f12b63-f557-415b-b473-799470893fb3', N'1cb8d014-d67f-4b32-a802-5c12587f1ccd', N'3e0317dd-755f-432d-9f3e-f8a1e6f5b664', 3154, 3152, 3153, N'web.config')
INSERT [compact].[files] ([id], [file_uid], [dir_uid], [super_dir_uid], [fkey_file_id], [fkey_dir_id], [fkey_super_dir_id], [filename]) VALUES (1302, N'7044bbb8-4784-4d8c-a45d-26682480d525', N'5ab83941-e729-42a5-a8b3-dbe05a9a766d', N'1cb8d014-d67f-4b32-a802-5c12587f1ccd', 3155, 3156, 3152, N'bearbeiten.gif')
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [compact].[files] OFF
/****** Object:  Table [compact].[images]    Script Date: 10/24/2011 00:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [compact].[images](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fkey_id_files] [int] NOT NULL,
	[img] [varbinary](max) NOT NULL,
	[description] [nvarchar](1000) NOT NULL,
 CONSTRAINT [PK_images] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [compact].[images] ON
SET IDENTITY_INSERT [compact].[images] OFF
/****** Object:  Table [compact].[BasicFeatures]    Script Date: 10/24/2011 00:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [compact].[BasicFeatures](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fkey_id_files] [int] NULL,
	[LastAccesssTime] [date] NULL,
	[LastWriteTime] [date] NULL,
	[CreationTime] [date] NULL,
	[SizeInBytes] [bigint] NULL,
	[fkey_FileClass] [int] NULL,
 CONSTRAINT [PK_BasicFeatures] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [compact].[BasicFeatures] ON
INSERT [compact].[BasicFeatures] ([id], [fkey_id_files], [LastAccesssTime], [LastWriteTime], [CreationTime], [SizeInBytes], [fkey_FileClass]) VALUES (1479, 1300, CAST(0xF1300B00 AS Date), CAST(0x5B2D0B00 AS Date), CAST(0xF1300B00 AS Date), 516156, 3)
INSERT [compact].[BasicFeatures] ([id], [fkey_id_files], [LastAccesssTime], [LastWriteTime], [CreationTime], [SizeInBytes], [fkey_FileClass]) VALUES (1480, 1301, CAST(0x0D330B00 AS Date), CAST(0x16330B00 AS Date), CAST(0x0D330B00 AS Date), 339, 3)
INSERT [compact].[BasicFeatures] ([id], [fkey_id_files], [LastAccesssTime], [LastWriteTime], [CreationTime], [SizeInBytes], [fkey_FileClass]) VALUES (1481, 1302, CAST(0x65310B00 AS Date), CAST(0xAC300B00 AS Date), CAST(0x65310B00 AS Date), 1021, 6)
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [compact].[BasicFeatures] OFF
/****** Object:  ForeignKey [FK_files_FilePaths_Dir]    Script Date: 10/24/2011 00:29:21 ******/
ALTER TABLE [compact].[files]  WITH CHECK ADD  CONSTRAINT [FK_files_FilePaths_Dir] FOREIGN KEY([fkey_dir_id])
REFERENCES [compact].[FilePaths] ([id])
GO
ALTER TABLE [compact].[files] CHECK CONSTRAINT [FK_files_FilePaths_Dir]
GO
/****** Object:  ForeignKey [FK_files_FilePaths_files]    Script Date: 10/24/2011 00:29:21 ******/
ALTER TABLE [compact].[files]  WITH CHECK ADD  CONSTRAINT [FK_files_FilePaths_files] FOREIGN KEY([fkey_file_id])
REFERENCES [compact].[FilePaths] ([id])
GO
ALTER TABLE [compact].[files] CHECK CONSTRAINT [FK_files_FilePaths_files]
GO
/****** Object:  ForeignKey [FK_files_FilePaths_SuperDir]    Script Date: 10/24/2011 00:29:21 ******/
ALTER TABLE [compact].[files]  WITH CHECK ADD  CONSTRAINT [FK_files_FilePaths_SuperDir] FOREIGN KEY([fkey_super_dir_id])
REFERENCES [compact].[FilePaths] ([id])
GO
ALTER TABLE [compact].[files] CHECK CONSTRAINT [FK_files_FilePaths_SuperDir]
GO
/****** Object:  ForeignKey [FK_images_files]    Script Date: 10/24/2011 00:29:21 ******/
ALTER TABLE [compact].[images]  WITH CHECK ADD  CONSTRAINT [FK_images_files] FOREIGN KEY([fkey_id_files])
REFERENCES [compact].[files] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [compact].[images] CHECK CONSTRAINT [FK_images_files]
GO
/****** Object:  ForeignKey [FK_BasicFeatures_FileClasses]    Script Date: 10/24/2011 00:29:21 ******/
ALTER TABLE [compact].[BasicFeatures]  WITH CHECK ADD  CONSTRAINT [FK_BasicFeatures_FileClasses] FOREIGN KEY([fkey_FileClass])
REFERENCES [compact].[FileClasses] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [compact].[BasicFeatures] CHECK CONSTRAINT [FK_BasicFeatures_FileClasses]
GO
/****** Object:  ForeignKey [FK_BasicFeatures_files]    Script Date: 10/24/2011 00:29:21 ******/
ALTER TABLE [compact].[BasicFeatures]  WITH CHECK ADD  CONSTRAINT [FK_BasicFeatures_files] FOREIGN KEY([fkey_id_files])
REFERENCES [compact].[files] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [compact].[BasicFeatures] CHECK CONSTRAINT [FK_BasicFeatures_files]
GO
