@model int
<span style="background-color: #b6ff00; width: 80px; text-align: right">    
    @Html.TextBoxFor(model => model, new { style = "width: 80px; background-color: yellow; text-align: right" })    
</span>
