@{
    ViewBag.Title = "IndexView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>HomeView</h2>

<ul>
    <li>@Html.ActionLink("Polygonator", "Create", "Polygonator")</li>
    <li>@Html.ActionLink("Triangle", "Create", "Triangle")</li>
</ul>