<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WebCrawlerTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WebCrawlerTest.Properties.Settings>
            <setting name="StartUrl" serializeAs="String">
                <value>http://www.google.de</value>
            </setting>
            <setting name="Deept" serializeAs="String">
                <value>2</value>
            </setting>
        </WebCrawlerTest.Properties.Settings>
    </applicationSettings>

	<!-- Diagnosemeldungen -->
	<system.diagnostics>
		<trace autoflush="true">
			<listeners>
				<add name="MeldungenInTextdatei" type="System.Diagnostics.TextWriterTraceListener" initializeData="MyTraceLog.txt"/>

				<!-- 
				<add name="MeldungenInWindowsEventLogs"
					 type="System.Diagnostics.EventLogTraceListener "
					 initializeData="FileClassificatorSource"/>
				-->

			</listeners>
		</trace>
		<switches>
			<!-- Schalter zum steuern des Protokollierungsumfanges -->

			<!-- Schalter von BatchProcessing-->
			<add name="TraceBatchProcessor" value="4"/>

		</switches>
	</system.diagnostics>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
