<?xml version="1.0"?>
<configuration>

	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="FileClassificatorClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<userSettings>
		<FileClassificatorClient.Properties.Settings>
			<setting name="DefaultFindFileDir" serializeAs="String">
				<value>C:\trac\projekt\lernen-dot-net\Bildergalerie</value>
			</setting>
		</FileClassificatorClient.Properties.Settings>
	</userSettings>

	<!-- Clientseitige Konfiguration des Remotings-->
	<system.runtime.remoting>
		<application>
			<client>
				<wellknown type="DMS.FC.BP.BatchProcessor, FileClassificatorBatchProcessor" url="tcp://127.0.0.1:5555/FileClassificatorBP"/>
			</client>
			<channels>
				<channel ref="tcp">
					<clientProviders>
						<formatter ref="binary" typeFilterLevel="Full"/>
					</clientProviders>
				</channel>
			</channels>
		</application>
	</system.runtime.remoting>

	<!-- Diagnosemeldungen -->
	<system.diagnostics>
		<trace autoflush="true">
			<listeners>
				<add name="MeldungenInTextdatei" type="System.Diagnostics.TextWriterTraceListener" initializeData="MyTraceLog.txt"/>

				<!-- 
				<add name="MeldungenInWindowsEventLogs"
					 type="System.Diagnostics.EventLogTraceListener "
					 initializeData="FileClassificatorSource"/>
				-->

			</listeners>
		</trace>
		<switches>
			<!-- Schalter zum steuern des Protokollierungsumfanges -->

			<!-- Schalter von BatchProcessing-->
			<add name="TraceBatchProcessor" value="4"/>

			<!-- Schalter von DirTree -->
			<add name="DirTreeTraceSwitch" value="0"/>

			<!-- Schalter von FileClassificatorServer -->
			<add name="FileClassificatorServerSwitch" value="4"/>

		</switches>
	</system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
