<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>

  <connectionStrings>
    <add name="FileFeaturesDbEntities" connectionString="metadata=res://*/FileFeaturesDbEF.csdl|res://*/FileFeaturesDbEF.ssdl|res://*/FileFeaturesDbEF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=FileFeaturesDb;integrated security=True;pooling=False;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

</configuration>